html{
/*  파이어폭스 scrollber */
  scrollbar-width: thin;
  scrollbar-color: rgba(94, 94, 94, 0.3) transparent;
}

/*  웹킷(크롬, 사파리) scrollber */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track-piece {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(101, 190, 230, 0.3);
}
/*  웹킷(크롬, 사파리) button outline 제거 */
textarea:focus {
  outline: none; 
} 
button:focus {
  outline: none; 
}
input:focus {
  outline: none; 
}
body{
  height: calc(100% - 20% - 30px);
  box-sizing: border-box;
  margin: 0 auto;
  font-family: 'Noto Serif KR', serif;
}
#container{
  text-align: center;
  margin: 0 auto;
  max-width: 1280px;
  height: calc(100vh);
}
/* 모바일 일 경우 나타나는 상단 바 */
header{
  display: none;
}
/* 채팅창 영역 */
.main{
  float: right;
  width: 70%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.box{
  border: 1px solid #eee;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
}
.box .chat{
  height: calc(100% - 20% - 30px);
  box-sizing: border-box;
  overflow-y: scroll;
  scrollbar-width: thin;
  position: relative;
}

/* 경고문 */

.box .chat .snack{
  font-size: 12px;
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}
.snack span{
  display: block;
  width: 100%;
  padding: 5px 0;
  color: #fff;
  background-color: rgba(185, 35, 35, 0.7);
  transform: translateY(26px);
  transform-origin: bottom center;
  transition: transform 2s;
}
.snack .connect{
  display: none;
}
.snack .reconnect{
  display: none;
}
.snack .quit{
  display: none;
}
.snack .reconnectFail{
  display: none;
}
.snackshow{
  display: block !important;
  animation: spanslide 2s ease-out;
}
@keyframes spanslide{
  0%{
    transform: translateY(26px);
  }
  40%{
    transform: translateY(0px);
  }
  60%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(26px);
  }
}

/* 채팅 내용 */
.box .chat .content{
  padding: 20px;
  position: relative;
  box-sizing: border-box;
  background-color: #fff;
}
/* 말풍선 추가 */
#text>div{
  display: flex;
  width: auto;
}
#text>div>div{
  font-size: 12px;
  padding: 8px 12px;
  max-width: 40%;
  margin: 0.5em 0;
  word-break: break-word; 
  width: max-content;
  font-family: 'Noto Sans KR', sans-serif;
}
/* 내 말풍선 */
.mychat{
  justify-content: flex-end;
}
.mychat div{
  background-color: #fe75a9;
  border-radius: 0.5em 0 0.5em 0.5em;
  color: #fff;
  text-align: right;
  animation: chatani 0.5s ease-in-out;
  transform: translateY(0px);
  transition: transform 0.5s;
}
@keyframes chatani{
  0%{
    transform: translateY(0px);
  }
  30%{
    transform: translateY(-3px);
  }
  100%{
    transform: translateY(0px);
  }
}
/* 상대방 말풍선 */
.youchat{
  flex-direction: column;
}
.youchat label{
  font-size: 12px;
  text-align: left;
  color: #666;
}
.youchat div{
  left: 0;
  text-align: left;
  background-color: #ddd;
  border-radius: 0 0.5em 0.5em 0.5em;
  color: #333;
  width: 100%;
  animation: chatani 0.5s ease-in-out;
  transform: translateY(0px);
  transition: transform 0.5s;
}




/* 입력 영역 */
.saying{
  height: 20%;
  margin-top: 10px;
  padding: 10px 20px;
}
/* 입력 영역 - 언어 */
.saying textarea{
  height: 100%;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border: 1px solid #eee;
  width: calc(100% - 60px);
  display: inline-block;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #eaeaea;
  color: #444;
  font-family: 'Noto Sans KR', sans-serif;
}
/* 입력 영역 - 입력 버튼 */
.saying button{
  display: inline-block;
  position: relative;
  width: 60px;
  height: 100%;
  vertical-align: top;
  border: none;
  background-color: transparent;
  text-indent: -999%;
  overflow: hidden;
  padding: 0;
  cursor: pointer;
  transform: translateY(0);
  transition: transform 0.5s;
}
.saying button:hover{
  transform: translateY(-5px);
}
.saying button::before{
  content: "";
  width: 40px;
  height: 40px;
  top: calc(50% - 20px);
  right: 0px;
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
  background-color: #fe75a9;
  box-shadow: -5px 3px 10px -2px rgba(255, 27, 91, 0.5);
  transition: background-color 0.5s;
}
.saying button:hover::before{
  background-color: #ea397d;
}
.saying button::after{
  content: "";
  width: 20px;
  height: 20px;
  top: calc(50% - 10px);
  right: 10px;
  position: absolute;
  cursor: pointer;
  background-image: url(../img/send.png);
  background-repeat: no-repeat;
  background-size: contain;
  filter: drop-shadow(0px 0px 1px rgba(255, 211, 232, 0.5));
}


/* 참여자 목록 영역 */
.slide{
  float: left;
  width: 30%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  padding-right: 0;
}
/* 참여자 검색 */
.search{
  height: 30px;
  position: relative;
}
.search::before{
  content: "";
  position: absolute;
  top: calc(50% - 10px);
  left: 0;
  width: 20px;
  height: 20px;
  opacity: 0.5;
  background-image: url(../img/magnifying-glass.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.search input{
  float: right;
  width: 90%;
  height: 30px;
  border-radius: 10px;
  border: 1px solid #eee;
  box-sizing: border-box;
  padding: 5px 15px;
  font-size: 12px;
  color: #5b5b5b;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #eaeaea;
}
/* 참여자들 이름 목록 */
.talkerlist{
  height: calc(100% - 30px);
  overflow-y: scroll;
  scrollbar-width: thin;
}
#list{
  margin: 0 auto;
  text-align: left;
  list-style: none;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}
#list .talker{
  padding: 10px;
  border-bottom: 1px solid #eee;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
}
#list .talker:hover{
}
#list .talker:last-of-type{
  border-bottom: none;
}
.me{
  color: #fe75a9;
}
.you{
  color: #777;
}