<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewprt" content="width=device-width, initial-scale=1.0">
	<title>Chatting</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script src="/js/chatting.js"></script>
	<script src="/js/index.js"></script>

	<link rel="stylesheet" type="text/css" href="css/index.css">
	<link rel="stylesheet" type="text/css" href="css/media.css" media="(max-width:1024px)">

	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,700|Noto+Serif+KR:300,400,700&display=swap" rel="stylesheet">
</head>
<body>
	<section id="container">
		<header>
			<div class="mobilebar">
				<button class="menu">
					<span class="line"></span>
					<span class="line"></span>
					<span class="line"></span>
				</button>
			</div>
		</header>
		<!-- 메인 채팅 -->
		<article class="main">
			<!-- 채팅창 -->
			<div class="box">
				<!-- 채팅박스 -->
				<div class="chat">
					<div id="text" class="content">

					</div>
					<!-- 스낵박스(재접속, 종료, 접속) -->
					<!-- 만약 하나를 보여야할 시 'snackshow' 클래스가 2초 동안 추가되도록 설정-->
					<div class="snack">
						<span class="reconnect">재접속시도 중입니다.</span>
						<span class="quit">종료되었습니다.</span>
						<span class="connect">접속되었습니다.</span>
						<span class="reconnectFail">재접속실패 종료되었습니다.</span>
					</div>
				</div>
				<!-- 입력창 -->
				<div class="saying">
					<textarea id = sendTextBox type = "text" style="resize: none;" name ='input' placeholder="내용을 입력하세요" onfocus="this.placeholder=''" ></textarea><!--
				 --><button id = "sendBttn">send</button><!-- 전송버튼 -->
				</div>
			</div>
			
			<!-- 관리자용 채팅창? -->
		</article>
		<!-- 참여 목록 -->
		<article class="slide">
			<div class="box">
				<!-- 참여자 검색 -->
				<div class="search">
					<input type="text" name ='input' placeholder="참여자 검색" onfocus="this.placeholder=''" >
				</div>
				<!-- 참여자 목록(오름차순) -->
				<div class="talkerlist">
					<ul id="list">
						<li class="talker me">me</li>
					</ul>
				</div>
			</div>
		</article>
	</section>
</html>